---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/react/LoginForm';
import LoginRedirect from '../components/react/LoginRedirect';
---

<Layout title="Login - PollaClub" showHeader={true}>
  <LoginRedirect client:load />
  <main class="bg-[color:var(--pc-surface)] flex items-center justify-center">
    <LoginForm client:load />
  </main>
</Layout>
